{%load static %}

<!DOCTYPE>
<html>
    <head>
        <meta chartset = "utf-8">
        <title>Article</title>
        <link rel= "stylesheet" href="{% static 'styles.css' %}"></link>
    </head>
    <body>
    	<a href= "{% url 'home' %}">
        	<img class= "image" src= "{% static 'LOGO.png' %}"/>
        </a>
        
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="buttonOne" type="submit">Logout</button>
                    </form>
                    <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>    
                    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>  
                {% endif %}  
            </ul>
        </nav>
        <div class= "wrapper">            
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>