{%load static %}

<!DOCTYPE>
<html>
    <head>
        <meta chartset = "utf-8">
        <title>Article</title>
        <link rel= "stylesheet" href="{% static 'styles.css' %}"></link>
    </head>
    <body>
    	<a href= "{% url 'articles:list' %}">
        	<img class= "image" src= "{% static 'LOGO.png' %}"/>
        </a>
        <nav>
            <ul>
                <li>
                    <form class="logot-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
        <div class= "wrapper">            
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>