{%load static %}

<!DOCTYPE>
<html>
    <head>
        <meta chartset = "utf-8">
        <title>Article</title>
        <link rel= "stylesheet" href="{% static 'styles.css' %}"></link>
    </head>
    <body>
    	<a href= "{% url 'articles:list' %}">
        	<img class= "image" src= "{% static 'LOGO.png' %}"/>
        </a>
        
        <nav>
            <ul>
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="buttonOne" type="submit">Logout</button>
                </form>
                
            </ul>
        </nav>
        <div class= "wrapper">            
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>