*{
	/*border: solid 1px black;*/
	position: relative;
	font-family: Comic Sans MS;
}
html,body{
	width:100%;
	height:100%;
  	padding:0px;
  	margin:0px;
  	background-image: url("https://www.itl.cat/pngfile/big/0-7755_nature-pier-bridge-d-river-water-sunset-night.jpg");
  	background-size: cover;
  	background-position: auto;
  	background-color: rgba(500, 500, 500, 0.5);
  	background-blend-mode: color;

}
a .image{
    top: -100px;
    width: 350px;
    height: 350px;
}
.wrapper h1{
    left: 50px;
    top: -330px;
	display: inline-block;
	font-weight: bold;
	font-size: 50px;
	color: #012172;
}

.wrapper .article{
	top: -350px;
	left: 50px;
	padding: 10px;
	font-size: 14px;
}

.logout-link .buttonOne {
    top: -350px;
    left: 1100px;
    padding: 10px;
	display: inline-block;
	cursor: pointer;
	/*border: solid 1px black;*/
	border-radius: 10px;
	background-color: ;
	color: #0486DB;
	transition: 0.5s ease-out;
	text-decoration: none;
	font-size: 20px;
}
.logout-link .buttonOne:hover{
	background-color: #05ACD3;
	color: #012172;
	background-position: left bottom;

}
