{%load static %}

<!DOCTYPE>
<html>
    <head>
        <meta chartset = "utf-8">
        <title>Article</title>
        <link rel= "stylesheet" href="{% static 'styles.css' %}"></link>
    </head>
    <body>
        <h1>Article List</h1>
        <div>
            {% for article in articles%}
            <div class="article">
                <h2><a href="#">{{article.title}}</a></h2>
                <p>{{article.snippet}}</p>
                <p>{{article.date}}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>